* {
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: 'kenyan_coffee_rg';
	src: url('../fontes/kenyan_coffee_rg-webfont.woff') format('woff'), url('../fontes/kenyan_coffee_rg-webfont.ttf') format('truetype'), url('../fontes/kenyan_coffee_rg-webfont.svg#kenyan_coffee_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
header, footer, article, section, hgroup, nav, figure {
	display: block;
}
body {
	/* Setting the default text color, size, page background and a font stack: */
	font-size: 0.825em;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

/*Classes*/
.centro {
	margin: 0 auto;
}
.circular {
	width: 282px;
	height: 282px;
	-webkit-border-radius: 153px;
	-moz-border-radius: 153px;
	border-radius: 153px;
}
.servicocirculo {
	border: 8px solid #BCBEC0;
	position: relative;
	float:left;
	margin-right:24px;
}
.largurabase{
	width:1000px;
}
.clear{
	clear:both;
}
/*MENU DE NAVEGAÇÃO*/
nav {
	width: 100%;
	height: 50px;
	background-color: rgba(255,255,255,0.5);
	position: fixed;
	z-index: 10000000000000000000000000;
	-webkit-box-shadow: 0px 2px 10px 1px rgba(90, 90, 90, 0.6);
	box-shadow: 0px 2px 10px 1px rgba(90, 90, 90, 0.6);
}
ul {
	position: relative;
	top: 5px;
}
li {
	display: block;
	float: left;
	margin: 0px 10px 0px;
	padding: 10px;
}
li a {
	text-decoration: none;
	font-size: 18px;
}

/*Titulos*/
h1 {
	font-size: 60px;
	font-family: 'kenyan_coffee_rg', Arial, sans-serif;
	width: auto;
}
h2 {
	font-size: 200%;
}
#sobre h1, #portfolio h1, #servicos h1, #contato h1 {
	color: #111;
}
header h1, #extra h1 {
	color: #fff;
}
/*SESSÕES*/
header, #sobre, #portfolio, #servicos, #contato, footer {
	height: 1000px;
	width: 100%;
	padding-top: 55px;
}
header {
	background-color: #0a2e4e;
}
#sobre, #servicos {
	background-color: #F0FFFF;
}
#portfolio, #contato {
	background-color: white;
}
footer {
	background-color: #101010;
}

/*
 *
 * O portfólio
 *
 *
 * */
#telafora, #teladentro {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#telafora {
	background-color: #000;
	height: 500px;
	position: relative;
	width: 850px;
	z-index: 2;
}
#teladentro {
	background-color: #FFFFFF;
	height: 395px;
	left: 50px;
	position: relative;
	top: 50px;
	width: 750px;
	z-index: 3;
}
#postit {
	background-color: yellow;
	height: 80px;
	left: 100px;
	position: relative;
	top: 60px;
	width: 120px;
}
#baseport {
	height: 138px;
	width: 506px;
	background-image: url('../img/basePort2.png');
	position: relative;
	z-index: 2;
}
#mesa {
	background-color: #FFFDEB;
	position: relative;
	width: 100%;
	height: 260px;
	float: left;
	top: -85px;
	overflow: hidden;
	z-index: 1;
}
#mesa-borda {
	border: 1px solid #ddd;
	height: 30px;
	width: 100%;
	position: relative;
	top: 175px;
	background: rgb(212,214,188); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q0ZDZiYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY0JSIgc3RvcC1jb2xvcj0iI2ZlZmZlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  rgba(212,214,188,1) 0%, rgba(254,255,232,1) 64%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,214,188,1)), color-stop(64%,rgba(254,255,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(212,214,188,1) 0%,rgba(254,255,232,1) 64%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(212,214,188,1) 0%,rgba(254,255,232,1) 64%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(212,214,188,1) 0%,rgba(254,255,232,1) 64%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(212,214,188,1) 0%,rgba(254,255,232,1) 64%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d6bc', endColorstr='#feffe8',GradientType=0 ); /* IE6-8 */
}
#extra .center p {
	color: #fff;
}
/*
 *
 * Serviços
 *
 *
 * */
